@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #033a80;
    --bg-color: #faf9ff;
    --text-color:#0f0c27;
    --hover: #5805FF;

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

section{
    /* border: 2px solid red; */
    padding: 50px 10%;
}

/* for darkmode  */

body.active{
    --text-color:#fff;
    --bg-color: #0f0c27;

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
*::selection{
    color:var(--bg-color);
    background-color: var(--main-color);
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: 30px;
}

.heading span{
font-size: var(--p-font);
color: rgb(2, 166, 70);
}

/* navigation bar  */

header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);
}
header.shadow{
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo{
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
}
.navbar{
    display:flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover{
    color: var(--hover);
}

#menu-icon{
    font-size:24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#darkmode{
    font-size: 22px;
    cursor: pointer;
    /* display: none; */
}


/* home section  */

.homee {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .homee-img {
    order: 3;
  }
  .homee-img img {
    width: 100%;
  }
  .homee-text span {
    font-size: var(--medium-font);
    font-weight: 500;
  }
  .homee-text h1 {
    font-size: var(--big-font);
  }
  .homee-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .homee-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
  }
  .social {
    display: flex;
    flex-direction: column;
  }
  .social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
  }
  .social a:hover {
    color: var(--hover);
  }

  .social a img{
    margin-bottom: 1rem ;
    width: 40%;
    }
    .social a img:hover{
        border:1px solid #ffff;
        border-radius: 50%;
    }
  .btn {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
  }
  .btn:hover {
    background: var(--hover);
  }
   
/* About section  */

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img{
    width: 60%;
    border-radius: 0.5rem;
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
}

.information{
    margin: 1rem 0 1.4rem;
}

.information .info-box{
    display:flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.information .info-box .bx{  
font-size: 22px;
}

.information .info-box span{ 
    font-weight: 400;
    margin-left: 1rem;
}


/* skill  */

.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.skill-img img{
    width: 90%;
    padding-left: 4rem;
    object-position: center;
}

.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem;
}

.bars-box h3,
span{
    font-size: 1.1rem;
    font-weight: 500;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: #96b9fb;
    border: 0.5rem;
}

.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;
}

.html-bar{
    width: 94%;
}

.css-bar{
    width: 84%;
}

.js-bar{
    width: 79%;
}
.mongo-bar{
    width: 75%;
}


/* Services  */

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.services-box{
    padding: 20px;
    width: 260px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgba(14 55 54 / 15%);
}

.services-box:hover{
    background: #02225a;
}

.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.services-box:hover h3{
    color: #fff;
}

.services-box .bx{
    padding: 2rem;
    font-size: 54px;
    color: var(--main-color);
}

.services-box:hover .bx{
    color: #22cf91;

}

.services-box a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}

.services-box:hover a{
    color: #8b8a8f;
}


/* portfolio  */

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.project-card{
    overflow: hidden;
    border-radius: 0.5rem;

}

.project-card img{
    width: 100%;
    display: block;

}

/* image hover  */
.project-card img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.contact-form{
    display:grid;
    place-items: center;
    margin-top: 2rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 650px;
}

form input,
form textarea{
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border:none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
}

form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

form textarea{
    resize: none;
    height: 200px;
}
.contact-button{
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
}
.contact-button:hover{
    background: var(--hover);
}


/* footer  */

.footer{
    display: grid;
    place-items: center;
    padding: 20px;
    background: #ebebeb;
    color: #000;
}

.footer h2{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.footer-social a img{
    color: rgb(10, 26, 208);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    /* background-color: #fff; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.copyright{
    padding: 20px;
    background: var(--main-color);
    text-align: center;
    color: #fff;
}

.copyright a{
    color: #22cf91;
}



/* responsive  */
/* max-width:991px */
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width:881px){
    :root{
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }
}
@media (max-width:768px){
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--text-color);
    }
    header .navbar{
        position:absolute;
        top:-500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0, 0, 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar.active{
        top:100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }

    #darkmode{
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }

    .scroll-down {
        display: none;
    }

    .homee{
        grid-template-columns: 0.5fr 3fr;
    }
    .homee-img{
        order: initial;
    }
    .homee-text{
        grid-column: 1/3;
        padding: 1.4rem;
    }

    .about-container{
        grid-template-columns: 1fr;
    }
    .about-img{
        display: flex;
        justify-content: center;
    }
    .contact-form form{
        width: 300px;
    }
    .contact-button{
        margin-left: 25%;
    }

}

@media(max-width: 340px){
    :root{
        --big-font:1.7rem;
        --medium-font: 1.1rem;
    }

    .homee-text span{
        font-size: 1rem;
    }
    .homee-text h2{
        font-size: 0.9rem;
        font-weight: 500;
    }
    .information .info-box span{
        font-size:1rem;
    }
    .portfolio-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .contact-form form{
        width: 300px;
    }
    .contact-button{
        margin-left: 25%;  
    }
}


#skill{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 3%;
    /* background-color: aliceblue; */
}
#skill>div:nth-child(1){
    width: 100%;
    height: 40%;
    /* border: 1px solid blue; */
    padding-top: 4%;
    padding-left: 8%;
}
#skill>div:nth-child(1)>h1{
    font-weight:bolder;
    font-size: 400%
}
#skill>div:nth-child(1)>h3{
    font-weight:100;
    font-size: 300%
}
#skill>div:nth-child(2){
    width: 100%;
    height: 60%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-left: 10%;
}
#skill>div:nth-child(2)>div{
    width: 40%;
    height:  auto;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 2%;
}
#skill>div:nth-child(2)>div>div{
    padding: 10%;
    background-color: white;
    border-radius: 15%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 1s;
}
#skill>div:nth-child(2)>div>div:hover{
    transform: scale(1.3);
    z-index: 2;
}
#skill>div:nth-child(2)>div>div>img{
    border-radius: 10%;
    
    
}

#headingdiv{
    margin-bottom: 2rem;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: -3rem;
    /* border: 2px solid red; */
}

@media screen and (min-width:600px) and (max-width:900px) {

#skill>div:nth-child(2){
grid-template-columns: repeat(4,1fr);
}
}

@media screen and (min-width:0px) and (max-width:600px) {

    #skill>div:nth-child(2){
    grid-template-columns: repeat(2,1fr);
    }
}
#githubmain{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 1rem;
    justify-content: center;
    text-align: center;

}


